{% extends "layout.html" %}
{% block title %}Index{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>
{% endblock %}
{% block content %}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Login</title>
    </head>
    <body>
        <h1>Login</h1>
        {% with messages = get_flashed_messages() %}
            <div>{{ messages[0] }}</div>
        {% endwith %}
        <form action="{{ url_for('login') }}" method="POST">
            <input type="text" name="userid" id="userid" placeholder="userID"></input>
            <input type="password" name="password" id="password" placeholder="Password"></input>
            <input type="submit" name="submit"></input>
        </form>
    </body>
</html>
{% endblock %}






